---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  href: string;
  reversed?: boolean;
  color: "emerald" | "purple" | "cyan" | "amber";
}

const {
  title,
  description,
  image,
  href,
  reversed = false,
  color,
} = Astro.props;

const colorMapVariants = {
  emerald: {
    outline: "outline-emerald-500",
    title: "text-emerald-900 hover:text-emerald-700 transition-colors",
    text: "text-emerald-600 hover:text-emerald-700 transition-colors",
  },
  purple: {
    outline: "outline-purple-500",
    title: "text-purple-900 hover:text-purple-700 transition-colors",
    text: "text-purple-600 hover:text-purple-700 transition-colors",
  },
  cyan: {
    outline: "outline-cyan-500",
    title: "text-cyan-900 hover:text-cyan-700 transition-colors",
    text: "text-cyan-600 hover:text-cyan-700 transition-colors",
  },
  amber: {
    outline: "outline-amber-500",
    title: "text-amber-900 hover:text-amber-700 transition-colors",
    text: "text-amber-600 hover:text-amber-700 transition-colors",
  },
} satisfies Record<Props["color"], Record<string, string>>;

const outlineClass = `outline-4 outline-offset-4 ${colorMapVariants[color].outline}`;
const linkTextClass = `font-semibold ${colorMapVariants[color].text}`;
const titleClass = `heading-3 ${colorMapVariants[color].title}`;
---

<div
  class={`flex flex-col lg:flex-row items-center gap-12 lg:gap-20 ${reversed ? "lg:flex-row-reverse" : "lg:text-right"}`}
>
  <!-- Text Content -->
  <div class="flex-1 space-y-6">
    <h3 class={titleClass}>
      {title}
    </h3>
    <p class="text-lg text-gray-700 leading-relaxed">
      {description}
    </p>
    <div>
      <a href={href} class={`group inline-flex items-center ${linkTextClass}`}>
        <span>Saiba mais</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 ml-2 transform transition-transform group-hover:translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </a>
    </div>
  </div>

  <!-- Image Content -->
  <div class="flex-1 w-full relative">
    <div
      class={`relative rounded-3xl overflow-hidden aspect-square shadow-xl group max-w-[480px] mx-auto ${outlineClass}`}
    >
      <div
        class="absolute inset-0 bg-emerald-900/10 group-hover:bg-transparent transition-colors duration-500 z-10"
      >
      </div>
      <Image
        src={image}
        alt={title}
        class="w-full h-full object-cover transform transition-transform duration-700 group-hover:scale-105"
      />
    </div>
    <!-- Decorative Elements -->
    <div
      class={`absolute -z-10 w-full h-full border-2 border-emerald-100 rounded-3xl top-4 ${reversed ? "left-4" : "-right-4"} hidden lg:block`}
    >
    </div>
  </div>
</div>
