---
import { Image } from "astro:assets";
import HomeProductsCard from "@/components/home/HomeProductsCard.astro";
import Heading2 from "@/components/ui/Heading2.astro";
import Heading3 from "@/components/ui/Heading3.astro";

// Images
import boardsImg from "@/images/boards.webp";
import solarImg from "@/images/solar.webp";
import batteriesImg from "@/images/bateries.webp";
import compostingImg from "@/images/composting.webp";
import homeProductsBefore from "@/images/background/home-products-before.svg";
import homeProductsAfter from "@/images/background/home-products-after.svg";
---

<section class="section bg-teal-50 z-0">
  <!-- Decorative Top Background -->
  <!-- <div
    class="absolute top-[-78px] left-0 w-full h-[calc(100%+78px)] -z-10 pointer-events-none overflow-hidden"
  >
    <Image
      src={homeProductsBefore}
      alt=""
      class="w-full h-full object-cover object-top opacity-50 md:opacity-100"
    />
  </div> -->

  <!-- Decorative Bottom Background -->
  <!-- <div
    class="absolute bottom-0 left-0 w-full h-full -z-10 pointer-events-none overflow-hidden mix-blend-multiply opacity-30"
  >
    <Image src={homeProductsAfter} alt="" class="w-full h-full object-cover" />
  </div> -->

  <div class="container mx-auto">
    <Heading2 title="Transforme resíduos em valor" />

    <!-- Electronics Section -->
    <div class="mb-16">
      <Heading3 title="Resíduos eletrônicos" color="text-sky-900" />

      <div class="grid grid-cols-1 gap-6 justify-items-center">
        <p class="text-lg text-gray-700 leading-relaxed text-balance max-w-5xl">
          A e‑Renova oferece soluções ambientais completas, incluindo a
          reciclagem de resíduos eletrônicos com coleta e destinação adequada, a
          realização de campanhas de conscientização para escolas, empresas e
          comunidades.
        </p>
        <HomeProductsCard
          title="Eletrônicos"
          description="Computadores, notebooks, celulares, cabos, placas, fontes, impressoras, eletrodomésticos e demais equipamentos em desuso."
          image={boardsImg}
        />

        <HomeProductsCard
          title="Painéis solares"
          description="Módulos fotovoltaicos danificados, fora de uso ou substituídos em projetos de energia solar."
          image={solarImg}
        />

        <HomeProductsCard
          title="Baterias"
          description="Baterias de íon-lítio, ferro-lítio e outros tipos utilizados em notebooks, nobreaks, veículos elétricos e sistemas solares."
          image={batteriesImg}
        />
      </div>
    </div>

    <!-- Composting Section -->
    <div>
      <Heading3 title="Compostagem residencial" color="text-sky-900" />

      <div class="grid grid-cols-1 gap-6 justify-items-center">
        <p class="text-lg text-gray-700 leading-relaxed text-balance max-w-5xl">
          Confira também nosso trabalho de compostagem residencial para quem
          deseja adotar práticas sustentáveis no dia a dia, reduzindo o lixo
          enviado a aterros e contribuindo para um ciclo mais sustentável.
        </p>
        <HomeProductsCard
          title="Compostagem"
          description="Instalação de composteiras a domicilio para resíduos orgânicos."
          image={compostingImg}
        />
      </div>
    </div>
  </div>
</section>
